name: first workflow
on: push
jobs:
  first-job:
    runs-on: ubuntu-24.04
    steps:
      - name: print greet
        run: echo "hi world"
      - name: get code
        uses: actions/checkout@v3
      - name: install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: install dependencies
        run: npm ci
      - name: run tests
        run: npm test   